@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Druk Wide";
  src: url("../fonts/Druk Wide Bold.ttf");
  font-weight: bold; }
.black {
  color: #000000 !important; }

.violet {
  color: #BE00FF !important; }

.red {
  color: #FF0000 !important; }

.gray {
  color: #959595 !important; }

.turquoise {
  color: #50E5EF !important; }

.blue {
  color: #0047FF !important; }

.orange {
  color: #FFA800 !important; }

.blue2 {
  color: #151EEA !important; }

.blue3 {
  color: #1584EA !important; }

.green {
  color: #15EA51 !important; }

body {
  font-family: "Roboto Mono", sans-serif;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase; }
  body:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    background-color: #FEDD2F;
    background-image: url(../img/brand.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 400px;
    z-index: 9999; }
    @media (max-width: 575.98px) {
      body:before {
        background-size: 300px; } }

.pace-container {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s; }

.pace-done:before {
  opacity: 0;
  visibility: hidden; }
.pace-done .pace-container {
  opacity: 1;
  visibility: visible; }

.pace {
  pointer-events: none;
  user-select: none; }
  .pace-inactive {
    display: none; }
  .pace-progress {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    border-top: 3px solid #fff;
    z-index: 99999; }

* {
  outline: none !important; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none !important;
  transition: 0.3s; }

.btn {
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #000;
  border-radius: 0;
  padding: 3px 6px;
  transition: 0.3s; }
  .btn:hover {
    opacity: 0.6; }
  .btn:focus {
    box-shadow: none; }

.drukwide {
  font-family: "Druk Wide", sans-serif; }

@media (min-width: 1200px) {
  .container {
    max-width: 1115px; } }

.row-1 {
  margin-left: -4px;
  margin-right: -4px; }
  .row-1 [class*='col'] {
    padding-left: 4px;
    padding-right: 4px; }

.pt170 {
  padding-top: 170px; }
  @media (max-width: 991.98px) {
    .pt170 {
      padding-top: 100px; } }

@media (min-width: 1200px) {
  .w-300 {
    width: 300px; } }

.bb {
  border-bottom: 1px solid #000; }

.border-shadow {
  border: 1px solid #000000;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.15); }

.shadow-my {
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.15); }

.h1, h1 {
  font-size: 48px; }
  @media (max-width: 575.98px) {
    .h1, h1 {
      font-size: 34px; } }

.h2, h2 {
  font-size: 36px;
  font-family: "Druk Wide", sans-serif;
  font-weight: bold; }

.fz-11 {
  font-size: 11px; }

.fz-12 {
  font-size: 12px; }

.fz-13 {
  font-size: 13px; }

.fz-14 {
  font-size: 14px; }

.fz-18 {
  font-size: 18px; }

.fz-20 {
  font-size: 20px; }

.fz-36 {
  font-size: 36px; }

.fz-64 {
  font-size: 64px; }

.fw500 {
  font-weight: 500; }

.fw300 {
  font-weight: 300; }

.ttn {
  text-transform: none !important; }

.op06:hover {
  opacity: 0.6; }

.bg-img {
  background-size: cover;
  background-position: center center;
  height: 205px;
  border-bottom: 1px solid #000000; }

.bg-img2 {
  height: 100%; }
  @media (max-width: 767.98px) {
    .bg-img2 {
      height: 288px; } }

.bg-ads {
  background-size: cover;
  background-position: center center;
  height: 175px;
  width: 100%; }

.navbar {
  transition: 0.3s;
  background: #FEDD2F;
  border: 1px solid #000000;
  padding: 0;
  align-items: initial; }
  .navbar .navbar-brand {
    padding: 0;
    align-self: normal;
    display: flex;
    align-items: center; }
    .navbar .navbar-brand img {
      transition: 0.3s; }
      @media (max-width: 1199.98px) {
        .navbar .navbar-brand img {
          width: 160px; } }
  @media (min-width: 1200px) {
    .navbar.sticky .navbar-brand img {
      width: 240px; } }

.nav-section {
  padding: 6px 16px; }
  .nav-section a {
    text-transform: uppercase;
    display: inline-block;
    padding: 2px;
    color: #000000; }
    .nav-section a:hover {
      opacity: 0.6; }
    .nav-section a.active {
      font-weight: bold; }

.sandwich {
  color: inherit;
  display: block;
  cursor: pointer;
  padding: 0;
  border: 0;
  background: transparent;
  transition: 0.3s;
  padding-right: 10px; }
  @media (min-width: 992px) {
    .sandwich {
      display: none; } }
  .sandwich:before, .sandwich:after {
    content: ""; }
  .sandwich span, .sandwich:after {
    margin-top: 4px; }
  .sandwich span, .sandwich:before, .sandwich:after {
    width: 20px;
    display: block;
    transition: 0.3s;
    transform-origin: left center;
    border-top: 2px solid; }
  .sandwich:not(.collapsed):before {
    transform: translateX(3px) translateY(-1px) rotate(45deg); }
  .sandwich:not(.collapsed) span {
    width: 0;
    opacity: 0; }
  .sandwich:not(.collapsed):after {
    transform: translateX(3px) translateY(1px) rotate(-45deg); }
  .sandwich:hover {
    opacity: 0.8; }

.links a:hover {
  opacity: 0.6; }
.links a.active {
  text-decoration: underline !important; }

.links-2 {
  padding-left: 70px; }
  .links-2 .arrow-box {
    position: relative; }
    .links-2 .arrow-box .arrow2 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -44px;
      opacity: 0;
      transition: 0.3s; }
    .links-2 .arrow-box a {
      color: #000;
      font-weight: 300; }
      .links-2 .arrow-box a:hover {
        opacity: 0.6; }
      .links-2 .arrow-box a.active {
        font-weight: bold; }
      .links-2 .arrow-box a:hover ~ .arrow2, .links-2 .arrow-box a.active ~ .arrow2 {
        opacity: 1; }

.form-search {
  position: relative;
  max-width: 216px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  margin-top: 2px; }
  .form-search.active {
    opacity: 1;
    visibility: visible; }
  .form-search .form-control {
    padding: 0;
    height: 15px;
    padding-right: 20px;
    background: #FFF;
    border: 0;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    font-size: 13px;
    color: #9A9A9A;
    text-transform: uppercase;
    font-weight: bold; }
    .form-search .form-control:focus {
      box-shadow: none; }
  .form-search .btn {
    transition: 0.3s;
    position: absolute;
    background: none;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 0;
    font-size: 11px;
    color: #000000;
    font-weight: 300; }
    .form-search .btn:focus {
      box-shadow: none; }

.form-search-2 {
  max-width: 250px;
  transition: 0.3s; }
  .form-search-2 .form-control {
    display: inline-block;
    padding: 8px 0;
    height: 15px;
    border: 0;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    font-size: 14px;
    color: #9A9A9A;
    background: #FEDD2F; }
    .form-search-2 .form-control:focus {
      box-shadow: none; }

.set-block {
  font-family: "Druk Wide", sans-serif;
  font-size: 18px;
  background: #FEDD2F;
  text-align: center;
  font-weight: 500;
  padding: 32px 16px;
  border-bottom: 1px solid #000000; }

.set-block2 {
  font-size: 13px;
  font-weight: 300;
  padding: 16px;
  border-bottom: 1px solid #000000; }

.set-block3 {
  font-size: 13px;
  font-weight: 300;
  padding: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #000000; }

.set-block4 {
  font-size: 14px;
  border-bottom: 0; }

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s; }
  .play:hover {
    opacity: 0.6; }

.cart {
  color: #000;
  display: block;
  margin-bottom: 40px;
  border: 1px solid #000000;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.15); }
  .cart .block {
    padding: 26px 80px 38px 20px;
    line-height: 15px;
    position: relative; }
    @media (max-width: 575.98px) {
      .cart .block {
        padding: 20px 20px 36px; } }
    .cart .block .arrow {
      position: absolute;
      transition: 0.3s;
      right: 18px;
      bottom: 12px; }
  .cart:hover {
    color: #000;
    box-shadow: none; }
    .cart:hover .arrow {
      right: 12px; }

.cart2 {
  color: #000;
  border: 1px solid #000000;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  line-height: 16px;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .cart2:hover {
    color: #000;
    box-shadow: none; }
  .cart2 .block {
    padding: 20px 10px 42px;
    position: relative;
    flex-grow: 1; }
    .cart2 .block .date {
      position: absolute;
      transition: 0.3s;
      right: 14px;
      bottom: 6px;
      font-size: 13px;
      font-weight: 300; }

.block-news {
  padding: 20px 8px;
  border-top: 1px solid #000; }
  .block-news a {
    display: inline-block;
    margin-bottom: 16px; }
    .block-news a:hover {
      opacity: 0.6; }
  .block-news:last-child {
    border-bottom: 1px solid #000; }

.dropdown-1 .dropdown-toggle:after {
  display: none; }
.dropdown-1 .dropdown-menu {
  padding: 6px 10px;
  top: 0;
  left: -130px;
  right: 110px;
  border: 1px solid #000000;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  font-size: 12px;
  min-width: 110px; }
  .dropdown-1 .dropdown-menu a {
    padding: 2px 0; }
  @media (max-width: 991.98px) {
    .dropdown-1 .dropdown-menu {
      position: static;
      float: none;
      background: transparent;
      border: 0;
      box-shadow: none; } }
.dropdown-1.show .dropdown-toggle {
  font-weight: bold; }

.dropdown-2 {
  align-self: normal;
  display: flex;
  align-items: center;
  padding: 16px;
  border-top: 1px solid #000;
  transition: 0.3s;
  cursor: pointer;
  color: #000000; }
  @media (min-width: 992px) {
    .dropdown-2 {
      padding: 6px 26px;
      position: relative;
      border-top: 0;
      border-left: 1px solid #000; } }
  .dropdown-2 .dropdown-toggle:after {
    display: none; }
  .dropdown-2 .dropdown-menu {
    padding: 55px 33px;
    border-radius: 0;
    top: 98%;
    left: -192px;
    right: 0;
    border: 1px solid #000000;
    font-size: 14px;
    min-width: 325px;
    background: #FEDD2F; }
    @media (max-width: 991.98px) {
      .dropdown-2 .dropdown-menu {
        left: 0; } }
    .dropdown-2 .dropdown-menu .btn {
      font-size: 14px;
      font-weight: 300;
      border: 1px solid #000;
      border-radius: 0;
      padding: 3px 6px;
      margin-top: 38px;
      transition: 0.3s; }
      .dropdown-2 .dropdown-menu .btn:hover {
        opacity: 0.6; }
  .dropdown-2.show {
    background: #000; }
    .dropdown-2.show .dropdown-toggle {
      font-weight: bold;
      color: #FFF; }

.dropdown-3 {
  position: static; }
  .dropdown-3 .dropdown-toggle:after {
    display: none; }
  .dropdown-3 .dropdown-menu {
    margin-top: 0;
    padding: 36px 0;
    border-radius: 0;
    top: 100%;
    left: 0;
    right: 0;
    border: 0;
    background: #FEDD2F;
    border: 1px solid #000000; }
  .dropdown-3.show .dropdown-toggle {
    font-weight: bold; }

.breadcrumb {
  padding: 0;
  background: inherit; }
  .breadcrumb .breadcrumb-item {
    font-size: 36px; }
    .breadcrumb .breadcrumb-item.active {
      color: #000; }
    .breadcrumb .breadcrumb-item a {
      color: #000; }
    .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
      color: #000;
      content: ">"; }

.calendar {
  border: 1px solid #000000;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.15);
  padding: 10px;
  background: #FEDD2F;
  font-family: "Druk Wide", sans-serif;
  font-size: 24px;
  font-weight: bold;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; }

.calendar2 {
  color: #000;
  padding: 17px;
  border: 1px solid #000000;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  line-height: 142%;
  font-size: 12px;
  display: flex;
  flex-direction: column; }
  .calendar2 .date {
    font-weight: bold;
    text-align: center;
    font-size: 14px; }
  .calendar2:hover {
    color: #000;
    box-shadow: none; }

.calendar3 {
  border: 1px solid #000000;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.15);
  padding: 10px;
  background: #FEDD2F;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-weight: bold; }

.calendar4 {
  color: #000 !important;
  border: 1px solid #000000;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.15);
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  transition: 0.3s;
  justify-content: center;
  font-weight: 300;
  font-size: 11px;
  min-height: 205px; }
  .calendar4:hover {
    opacity: 0.6;
    box-shadow: none; }

@media (min-width: 1200px) {
  .col-xl-calendar {
    flex: 0 0 20%;
    max-width: 20%; } }

@media (min-width: 991px) {
  .col-md-calendar {
    flex: 0 0 20%;
    max-width: 20%; } }

@media (min-width: 991px) {
  .col-md-calendar2 {
    flex: 0 0 80%;
    max-width: 80%; } }

@media (min-width: 1200px) {
  .col-xl-calendar3 {
    flex: 0 0 29.166666%;
    max-width: 29.166666%; } }

.arrow-calendar {
  transform: rotate(180deg);
  padding-left: 10px; }

.section {
  padding: 44px 44px 56px; }
  @media (max-width: 575.98px) {
    .section {
      padding: 44px 15px 56px; } }

/*# sourceMappingURL=style.css.map */
